body {
    font-size: 18px;
    font-family: sans-serif;
}

th .action-remove,
td .action-remove,
th .action-sort,
td .action-sort {
    opacity: 0.1;
}
th:hover .action-remove,
td:hover .action-remove,
th:hover .action-sort,
td:hover .action-sort,
th .action-sort.active,
td .action-sort.active {
    opacity: 1;
}

th.thing,
th.criterion {
  position: relative;
}

.action-sort .action-sort-icon-asc,
.action-sort.sort-asc .action-sort-icon-asc,
.action-sort.sort-desc .action-sort-icon-desc {
    display: inline-block;
}
.action-sort .action-sort-icon-desc,
.action-sort.sort-asc .action-sort-icon-desc,
.action-sort.sort-desc .action-sort-icon-asc {
    display: none;
}

[contenteditable="true"] {
    border: dashed 1px lightgray;
    display: inline-block;
    width: 100%;
}

.thing .actions-group,
.criterion .actions-group {
  position: absolute;
  top: 0;
  right: 0;
}

.thing-label {
  margin-top: 0.25rem;
}

.mode-print [contenteditable="true"] {
    border: none;
}

#export .nav-tabs,
#import .nav-tabs {
  border-bottom: none 0;
}
